/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1f1b3c;
}

// .linePulse {
//   fill: none;
//   stroke: #c7bc24;
//   stroke-width: 2px;
// }
.xAxis {
  color: #c7bc24;
  .tick {
    // display: none;
  }
}
.yAxis {
  stroke: #c7bc24;
  .domain {
    stroke: #2d2a52;
  }
  .tick > text {
    stroke: #c7bc24;
  }
  .tick > line {
    stroke: transparent;
  }
}

.area-custom-color {
  fill: url(#area-gradient);
  // fill: #4ca3bd;
}
.line {
  fill: none;
  stroke: #d9d965;
  stroke-width: 3px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
